/* Colors */
$white: #ffffff;
$black:  #0c0a09;

$rock-50:   #fafaf9;
$rock-100:  #f5f5f4;
$rock-200:  #e7e5e4;
$rock-300:  #d6d3d1;
$rock-400:  #a8a29e;
$rock-500:  #78716c;
$rock-600:  #57534e;
$rock-700:  #44403c;
$rock-800:  #292524;
$rock-900:  #1c1917;

$accent-light: #6ee7b7;
$accent-base: #E35436;
$accent-dark: #065f46;

/* Typography */

a {
    text-decoration: none;
}

/* Input & Selectors */


/* Page layout*/
.page-wrapper {
    padding: 8rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;

    &--align-center {
        align-items: center;
    }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr); // Tablet
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr); // Small Desktop
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr); // Large Desktop
  }
}